# '''
# ######################
# Courtesy: Special thanks codeBasic youtube channel for this knowledgeable DataScience Series
#
# Tutorial (youtube):https://www.youtube.com/playlist?list=PLeo1K3hjS3uvaRHZLl-jLovIjBP14QTXc
# Project-code(gitHub): https://github.com/codebasics/py/tree/master/DataScience/CelebrityFaceRecognition
#
# Disclaimer: I don't own the rights of this code/project. The code written is followed as shown
#            in the tutorial with reference to above.
#            P.S.: There are some changes in names of files and variables for personal reference
#            only, In case you are copy pasting this code , please look out for the syntax.
# ######################
#
# '''
.card-wrapper {
    margin: 5% 0;
  }
  
/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 10vw; /* note i used vw not px for better responsive */
  height: 10vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 1.1px;
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}


.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}